<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="section">
    <div class="container">
      <div class="row">
        <div class="title"><h4><b>Why search here</b></h4></div>
        <br>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
           <i class="fa fa-thumbs-o-up"></i>&nbsp;<label>Best Prices</label><br>
            <span>
                We compare millions of flights to<br>find you the cheapest deal in seconds
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
            <i class="fa fa-credit-card"></i>&nbsp;<label>No added fees</label><br>
            <span>
                No hidden charges,<br>no added fees
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
            <i class="	fa fa-check-square-o"></i>&nbsp;<label>Trusted by millions</label><br>
            <span>
              Book the flight of your choice. Quick &amp; simple! 
            </span>
          </div>
        </div>
      </div>
    </div>
</section>