<link href='https://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>

<app-nav-bar-login></app-nav-bar-login>
<br>
<br>
<div id="img-about"class="container" [ngStyle]="{'background-image': 'url(' + imagePath + ')'}">
  <br><br><br><br><br><br>
  <h1>Fernweh</h1>
  <h3>An ache for distant places; the crave for travel.</h3>
  <br><br><br><br><br><br><br><br><br><br><br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img id="img-side" src="./../assets/about-us/side.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <p>
            Going on a trip? Don't want to deal with the hassle of hours of research? Would like a plan that matched your preferences
            to magically show up? Well, you have come to the best site that'll help you plan your perfect trip.
          </p>
          <p>
            We are the experts in student and youth travel, and we have a fair few big trips under our belts. As travelers like you,
            we're lucky enough to have been round the block a few times. It's with this kind of unrivalled knowledge and exclusive
            partnerships with airlines and travel companies around the world, that we can always inspire you to create the ultimate
            experience, no matter what your budget is.
          </p>
    </div>
 
</div>
</div>