<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
           <i class="fa fa-search"></i>&nbsp;<label>FIND A HOTEL</label><br><br>
            <span>
              Look up for a hotel room to suit your needs. Filter using price, user-rating, popularity &amp; stars
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
            <i class="fa fa-exchange"></i>&nbsp;<label>COMPARE PRICES</label><br><br>
            <span>
              Compare the prices of the selected hotel room within different hotels on one platform.
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="general">
            <i class="fa fa-check"></i>&nbsp;<label>BOOK YOUR PRICE</label><br><br>
            <span>
              Book the hotel room of your choice, at the lowest price on the web. Quick &amp; simple! 
            </span>
          </div>
        </div>
      </div>
    </div>
</section>
